<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Restaurant List</title>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/css/all.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  {{#if indexCSS}}
  <link rel="stylesheet" href="/stylesheets/index.css">
  {{/if}}
  {{#if detailCSS}}
  <link rel="stylesheet" href="/stylesheets/detail.css">
  {{/if}}
  {{#if formCSS}}
  <link rel="stylesheet" href="/stylesheets/form.css">
  {{/if}}
  {{#if userCSS}}
  <link rel="stylesheet" href="/stylesheets/user.css">
  {{/if}}
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          {{userName}} 的餐廳清單
        </a>
        <div class="nav-buttons">
          {{#if isAuthenticated}}
          <a class="btn btn-outline-info" href="/restaurants/new" role="button"><i class="fas fa-plus pr-2"></i>新增餐廳</a>
          <a href="/users/logout" class="btn btn-outline-danger" role="button">登出</a>
          {{else}}
          <a class="btn btn-outline-info" href="/users/login" role="button">登入</a>
          {{/if}}
        </div>
      </div>
    </nav>
    <div class="banner"></div>
  </header>

  {{{ body }}}
  <script src="/javascripts/jquery-3.4.1.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>