<!-- banner title -->
<div class="banner-title">
  <h1 class="mb-1">Page Not Found</h1>
</div>

<!--404 page content-->
<div class="text-center mt-5 text-danger">
  <h1 class="display-4 m-0"><i class="pr-2 fas fa-hamburger"></i><i class="pr-2 fas fa-hamburger"></i><span
      class="font-weight-bolder">PS</span></h1>
  <small class="d-block">We cannot find such page!</small>
  <a class="btn btn-outline-danger btn-sm mt-4" href="/" role="button"><i class="pr-2 far fa-compass"></i>Back to
    homepage</a>
</div>