<section class="mx-5">
  <div class="login-container shadow-lg">
    <div class="row w-100 m-0">
      <div class="col-md-7 col-12 p-5 col-left">
        <form action="/users/login" method="post">
          <div class="form-group text-center">
            <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
              width="70" height="70" class="d-inline-block align-top" alt="我的餐廳清單">
            <h2 class="text-info mt-2">登入食譜</h2>
          </div>
          {{> messages}}
          <div class="form-group">
            <label for="email" class="text-secondary">Email 信箱</label>
            <input type="email" name="email" id="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password" class="text-secondary">密碼</label>
            <input type="password" name="password" id="password" class="form-control">
          </div>
          <button type="submit" class="w-100 animation-info-btn btn-block animation-btn">登入</button>
          <a href="/users/register" class="animation-danger-btn btn-block d-md-none animation-btn">前往註冊</a>
        </form>
        <div class="text-center mt-5 mb-4 position-relative separate-line">
          <hr>
          <small class="text-muted">或嘗試一鍵登入</small>
        </div>
        <div class="login-partners-icons">
          <h4 class="text-center">
            <a href="/auth/facebook"><i class="fab fa-facebook mr-1"></i></a>
            <a href="/auth/google"><i class="fab fa-google "></i></a>
          </h4>
        </div>
      </div>
      <div class="d-none d-md-flex col-5 col-right flex-column justify-content-center position-relative">
        <div class="overlay"></div>
        <h3 class="text-center position-relative text-white">還不是食客嗎?</h3>
        <a href="/users/register"
          class="position-relative shadow-lg animation-info-btn shadow-lg animation-btn">立即註冊</a>
      </div>
    </div>
  </div>
</section>