<div class="register-container shadow-lg">
  <div class="row w-100 m-0">
    <div class="col-7 p-5 col-left">
      <form action="/register" method="post">
        <div class="form-group text-center">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="70" height="70" class="d-inline-block align-top" alt="我的餐廳清單">
          <h2 class="text-info mt-1">Sign Up</h2>
        </div>
        <div class="form-group">
          <label for="name" class="text-secondary">Name</label>
          <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="email" class="text-secondary">Email</label>
          <input type="email" name="email" id="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password" class="text-secondary">Password</label>
          <input type="text" name="password" id="password" class="form-control">
        </div>
        <div class="form-group">
          <label for="re-password" class="text-secondary">Confirm Password</label>
          <input type="text" name="re-password" id="re-password" class="form-control">
        </div>
        <button type="submit" class="btn btn-info btn-block">Sign Up</button>
      </form>
      <div class="text-center my-4">
        <small class="text-muted">or login with</small>
      </div>
      <div class="login-partners-icons">
        <h4 class="text-center">
          <a href="/"><i class="fab fa-facebook mr-1 text-info"></i></a>
          <a href="/"><i class="fab fa-google text-info"></i></a>
        </h4>
      </div>
    </div>
    <div class="col-5 col-right d-flex flex-column justify-content-center p-5 position-relative">
      <div class="overlay"></div>
      <h4 class="text-center position-relative text-white">Already a member?</h4>
      <a href="/login" class="btn btn-info btn-block position-relative shadow-lg">Log In With Email</a>
    </div>
  </div>
</div>