.banner-content {
  margin-top: 56px;
  height: 407px; /*360px*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.banner-content .text-search {
  height: 357px;
}

.banner-content .text-search h1 {
  color: white;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: 'Gloria Hallelujah', cursive;
}

.search-bar .search-bar-outer {
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.fast-search li {
  color: #BD7676;
}

.fast-search li a {
  color: #4592af;
}

.fast-search li a:hover {
  color: #2b7591;
}

.sort-filter-panel {
  background: #9b4b4b;
}

.filter-panel div.form-check i{
  color: rgba(220,53,69, .8);
}


.filter-panel div.form-check:hover i{
  color: rgba(220,53,69, 1);
  text-shadow: 1px 1px 1px rgba(20,9,5,0.26);
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card-img-top{
  max-height: 300px;
  overflow-y: hidden;
}

.card-img-top img {
  opacity: .8;
}

a.card-link:hover .card-img-top img {
  opacity: 1;
  transition: all .2s linear;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.card-footer {
  background-color: white;
}

.card-footer .btn {
  color: gray;
}

.card-footer .btn:hover {
  color: #dc3545;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}

@media screen and (min-width: 576px) {
  
  .card-img-top{
    max-height: 158px;
  }
  
}

@media screen and (min-width: 768px) {
  
  .card-img-top{
    max-height: 138px;
  }

}

@media screen and (min-width: 992px) {
  
  .card-img-top{
    max-height: 191px;
  }

  .banner-content h1 {
    font-size: 3.2rem;
  }

}

@media screen and (min-width: 1200px) {
  
  .card-img-top{
    max-height: 168px;
  }

  .banner-content h1 {
    font-size: 4.2rem;
  }

}