/* header {
  overflow: hidden;
} */

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  background-attachment: fixed;
  filter: blur(3px);
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card-img-top{
  max-height: 300px;
  overflow-y: hidden;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.card-footer {
  background-color: white;
}

.card-footer .btn {
  color: gray;
}

.card-footer .btn:hover {
  color: #dc3545;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.banner-title {
  margin-top: 56px;
  height: 360px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
}

.banner-title h1 {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  color: white;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: 'Gloria Hallelujah', cursive;
}

.detail-btn .btn {
  border-radius: 0;
  padding: 6px 35px;
  margin-right: 8px;
}

.detail-img img,
.card-img-top img {
  opacity: .8;
}

.detail-img img:hover,
a.card-link:hover .card-img-top img {
  opacity: 1;
  transition: all .2s linear;
}

/*Edit & new page*/
label {
  color: #404040;
}

.form-control {
  border: none;
  border-radius: inherit;
  border-bottom: 1px solid #B8B8B8;
}

@media screen and (min-width: 576px) {
  
  .card-img-top{
    max-height: 158px;
  }
}

@media screen and (min-width: 768px) {
  
  .card-img-top{
    max-height: 138px;
  }

  .banner-title h1 {
    font-size: 3.5rem;
  }

}

@media screen and (min-width: 960px) {
  
  .card-img-top{
    max-height: 191px;
  }

  .banner-title h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  
  .card-img-top{
    max-height: 168px;
  }

  .banner-title h1 {
    font-size: 4.5rem;
  }
}
