.banner {
  opacity: .5;
}

.login-container {
  max-width: 720px;
  margin: -220px auto 0 auto;
  background: white;
  border-radius: 20px;
}

.register-container {
  max-width: 720px;
  margin: -320px auto 0 auto;
  background: white;
  border-radius: 20px;
}

.col-left .form-control:focus {
  box-shadow: inherit;
  background-color: inherit;
  border-color: #B0B0B0;
}

.col-left div.separate-line small {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -45%);
  background: white;
  top: 0;
}

.col-left .login-partners-icons a i {
  color: #17a2b8;
}

.col-left .login-partners-icons a:hover i {
  color: #117a8b;
}

div.col-right {
  border-radius: 0 20px 20px 0;
  background: url('https://images.pexels.com/photos/887827/pexels-photo-887827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-size: cover;
}

.col-right .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  opacity: .2;
}

.col-right h3,
.col-right h4 {
  text-shadow: 1px 1px 2px rgb(105,105,105);
}

.col-right a {
  width: 85%;
  margin: 0 auto;
}
